<!doctype html>
<title>{% block title %}{% endblock %} - Studio Wartenbergh</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    {% if g.user %}
    <h3>Authentication</h3>
    <ul>
        <li><span>{{ g.user['username'] }}</span>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    </ul>
    {% endif %}
    <ul>
        <li><a href='/about'>About</a></li>
        <li><a href='/portfolio'>Portfolio</a></li>
        <li><a href='/contact'>Contact</a></li>
        <li><a href='/webshop'>Webshop</a></li>
    </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
