{% extends "base.html" %}

{% block body %}
<div>
    <div class="flex-container">
    <!-- Responsive image grid of two columns -->
    <div class="column">
    {% for painting in paintings_first_col %}
        <div class="painting">
            <a href="{% config 'gh-pages-prefix' %}{% url '/carousel.html' %}?active={{ painting.id }}">
                <img src={{ painting.main_image }}></img>
            </a>
        </div>
    {% endfor %}
    </div>
    <div class="column">
    {% for painting in paintings_second_col %}
        <div class="painting">
            <a href="{% config 'gh-pages-prefix' %}{% url '/carousel.html' %}?active={{ painting.id }}">
                <img src={{ painting.main_image }}></img>
            </a>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
